{% extends 'base2.html' %}

{% block content  %}




        {% for search in cart.product.all %}


       <div class="card bg-light mb-2`" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ search.image.url }}" class="card-img" alt="...">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ search.name }}</h5>
            <p class="card-text">
                {{ search.name }} <br>
                {{ search.id }} <br>
                {{ search.price }} <br>
                {{ search.category }} <br>
                {{ search.description }} <br>
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

              <a href="{% url 'order-product' search.id %}" >Order Now</a><br>

              <a href="{% url 'delete-from-cart' search.id %}" >Remove</a>



          </div>
        </div>
      </div>
    </div>



        {% endfor %}

    <h2>Total: {{ total }}</h2>





{% endblock content %}