{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content  %}

        <div class="container my-5 py-5 z-depth-1">


          <!--Section: Content-->
          <section class="text-center">

            <!-- Section heading -->
            <h3 class="font-weight-bold mb-5">Product Details</h3>

            <div class="row">
              <div class="col-lg-6">

                <!--Carousel Wrapper-->
                <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4" data-ride="carousel">

                  <!--Slides-->
                  <div class="carousel-inner text-center text-md-left" role="listbox">
                    <div class="carousel-item active">
                      <img src="{{ search.image.url }}"
                        alt="First slide" class="img-fluid">
                    </div>
                  </div>
                  <!--/.Slides-->

                </div>
                <!--/.Carousel Wrapper-->

              </div>

              <div class="col-lg-5 text-center text-md-left">

                <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                    {{ search.name }}
                </h2>
                <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">bestseller</span>
                <span class="badge badge-success product mb-4 ml-2">SALE</span>

                <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
                  <span class="red-text font-weight-bold">
                    <strong>{{ search.price }}</strong>
                  </span>
                  <span class="grey-text">
                    <small>

                      <s>{{ search.price}}</s>
                    </small>
                  </span>
                </h3>

                <div class="font-weight-normal">

                  <p class="ml-xl-0 ml-4">Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit.
                      Sapiente nesciunt atque nemo neque
                      ut officiis nostrum incidunt maiores,
                      magni optio et sunt suscipit iusto nisi
                      totam quis, nobis mollitia necessitatibus.</p>

                  <p class="ml-xl-0 ml-4">
                    <strong>Category: </strong>{{ search.category }}</p>
                  <p class="ml-xl-0 ml-4">
                    <strong>Description: </strong>{{ search.description }}</p>
                  <p class="ml-xl-0 ml-4">
                    <strong>Resolution: </strong>2048 x 1536</p>
                  <p class="ml-xl-0 ml-4">
                    <strong>Availability: </strong>In stock</p>

                  <div class="mt-5">
                    <p class="grey-text">Choose your color</p>
                    <div class="row text-center text-md-left">
                      <div class="col-md-4 col-12 ">
                        <div class="form-group">
                          <input class="form-check-input" name="group100" type="radio" id="radio100" checked="checked">
                          <label for="radio100" class="form-check-label dark-grey-text">White</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-check-input" name="group100" type="radio" id="radio101">
                          <label for="radio101" class="form-check-label dark-grey-text">Silver</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-check-input" name="group100" type="radio" id="radio102">
                          <label for="radio102" class="form-check-label dark-grey-text">Gold</label>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-3 mb-4">
                      <div class="col-md-12 text-center text-md-left text-md-right">
                          <a href="{% url 'update-cart' search.id  %}" >
                            <button class="btn btn-primary btn-rounded">
                              <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>
                                Add to Cart

                            </button>
                          </a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </section>
          <!--Section: Content-->





        <div class="card bg-light mb-2`" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ search.image.url }}" class="card-img" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ search.name }}</h5>
                <p class="card-text">
                     <br>
                    {{ search.id }} <br>
                    {{ search.price }} <br>
                    {{ search.category }} <br>
                    {{ search.description }} <br>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
{#  updatecart/product_id #}
                  <a href="{% url 'update-cart' search.id  %}" >Add to Cart</a>

              </div>
            </div>
          </div>
        </div>

    <div class="container">
        {% for review in search.reviews.all %}
            User: {{ review.user.username }}<br>
            Rating: {{ review.rating }} <br>
            Comment: {{ review.comment }} <br><br><br>
        {% endfor %}
    </div>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit">
        </form>
    </div>


{% endblock content %}