{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            text-align:center;
        }
    </style>
</head>
<body>

<div>
    <a href="{% url 'products_list' %}">Home</a> <br>
    {% if user.is_authenticated %}
        <a href="{% url 'upload_product' %}">Upload</a> <br>
        <a href="{% url 'create_profile' %}">Create Profile</a><br>
        <a href="{% url 'show_profile' %}">My Profile</a><br>
        <a href="{% url 'logout' %}">Logout</a><br>
        <a href="{% url 'password_change' %}">change password</a> <br>
    {% else %}
        <a href="{% url 'register' %}">Register</a> <br>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div>
    Hello!
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        Stranger!
    {% endif %}
</div>

{% block content %}

{% endblock content %}



   <script>
        document.write('<a href=" ' + document.referrer + ' ">Go Back</a>');
    </script>
    <br>

    <a href="javascript:history.back()">Go Back</a>

</body>
</html>