# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DjangoProjects_CSE_309_310_Spring_2020\CompleteDjangoProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
